This file provides a set-up to test the Explementations for the Model Generation with the Districtgenerator.

In [1]:
import pandas as pd

In [2]:
df_alkis = pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\src\auxilary\building_functions_utf8.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\felix\\Programmieren\\tecdm\\src\\auxilary\\building_functions_utf8.csv'

In [ ]:
df_gml = pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\src\auxilary\building_function_data.csv', delimiter=";")

In [ ]:
df_alkis.head()

  building_function_alkis  alkis_code
0             Wohngebäude  31001_1000
1                Wohnhaus  31001_1010
2                Wohnheim  31001_1020
3              Kinderheim  31001_1021
4            Seniorenheim  31001_1022

In [ ]:
df_gml.head()

                      gml_building_function  gml_id         teaser_id
0                      residential building    1000  [SF, TH, MF, AB]
1                                  tenement    1010               NaN
2                                    hostel    1020               NaN
3  residential- and administration building    1030               NaN
4          residential- and office building    1040               NaN

In [ ]:
df_alkis["alkis_code"] = df_alkis["alkis_code"].str.split("_").str[1]

In [ ]:
df_alkis.head()

  building_function_alkis alkis_code
0             Wohngebäude       1000
1                Wohnhaus       1010
2                Wohnheim       1020
3              Kinderheim       1021
4            Seniorenheim       1022

In [ ]:
# df_alkis["alkis_code"] = pd.to_numeric(df_alkis["alkis_code"])
df_alkis["alkis_code"] = df_alkis["alkis_code"].astype('Int64') 
df_gml["gml_id"] = df_gml["gml_id"].astype('Int64')

In [ ]:
df_both = df_gml.merge(df_alkis, left_on="gml_id", right_on="alkis_code", how="outer")

In [ ]:
df_both.head()

,gml_building_function,gml_id,teaser_id,building_function_alkis,alkis_code
0,residential building,1000,"[SF, TH, MF, AB]",Wohngebäude,1000
1,tenement,1010,NaN,Wohnhaus,1010
2,tenement,1010,NaN,Förderturm,1010
3,hostel,1020,NaN,Wohnheim,1020
4,residential- and administration building,1030,NaN,NaN,<NA>

In [ ]:
df_both.to_csv(r'C:\Users\felix\Programmieren\tecdm\src\auxilary\building_function_data.csv', index=False)

In [ ]:
from districtgenerator import Datahandler

In [ ]:
data = Datahandler()

# Generate Environment for the District
data.generateEnvironment()

# Initialize Buildings to the District
data.initializeBuildings(scenario_name="FZK-Haus")

[{'name': 'location', 'value': [51.0, 6.55], 'unit': 'degree', 'description': 'Latitude, Longitude'}, {'name': 'climateZone', 'value': 0, 'unit': '-', 'description': 'Number of climate zone. 0 refers to Aachen. 1-15 refer to climate zones according to DWD.'}, {'name': 'altitude', 'value': 0, 'unit': 'm', 'description': 'Above sea level'}, {'name': 'timeZone', 'value': 1, 'unit': 'h', 'description': "Shift between the location's time and GMT in hours. CET would be 1."}, {'name': 'albedo', 'value': 0.2, 'unit': '-', 'description': 'Ground reflectance. 0 refers to 0% and 1 refers to 100%.'}, {'name': 'TRYYear', 'value': 'TRY2015', 'unit': '-', 'description': 'Test referece year of DWD. Possible entries are TRY2015 and TRY2045.'}, {'name': 'TRYType', 'value': 'normal', 'unit': '-', 'description': 'Test referece conditions of DWD. Possible entries are normal, kalt, warm.'}]

In [ ]:
dwd_data = pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\data\examples\FZK_DWD-TRY-MiddleYear.csv', sep=";")

In [ ]:
dwd_data.head()

,Datum,Temperatur,Windgeschwindigkeit,Bedeckungsgrad,Rel. Feuchte,Solare Direktstraklung,Solere Diffusstrahlung,Athmosph. Gegenstrahlung,Terrestr. Wärmestrahlung
0,01.01.2022T01:00,"-3,1",2.2,4,92,0,0,240,301
1,01.01.2022T01:00,"-2,1",2.5,6,91,0,0,240,300
2,01.01.2022T01:00,"-1,3",2.5,7,89,0,0,253,300
3,01.01.2022T01:00,"-1,1",2.5,7,88,0,0,267,299
4,01.01.2022T01:00,"-0,8",2.4,8,87,0,0,266,299

In [ ]:
parser_dwd = pd.read_csv(r'C:\Users\felix\Programmieren\tecdm\data\examples\KIT_DWD.csv')

In [ ]:
parser_dwd.head()

              kit_file  dwd
0                Datum  NaN
1           Temperatur    t
2  Windgeschwindigkeit   WG
3       Bedeckungsgrad    N
4         Rel. Feuchte   RF

In [ ]:
dwd_data.rename(columns=parser_dwd.set_index('kit_file')['dwd'], inplace=True)

In [ ]:
dwd_data.head()

                NaN     t   WG  N  RF  B  D    A    E
0  01.01.2022T01:00  -3,1  2.2  4  92  0  0  240  301
1  01.01.2022T01:00  -2,1  2.5  6  91  0  0  240  300
2  01.01.2022T01:00  -1,3  2.5  7  89  0  0  253  300
3  01.01.2022T01:00  -1,1  2.5  7  88  0  0  267  299
4  01.01.2022T01:00  -0,8  2.4  8  87  0  0  266  299

In [ ]:
dwd_data.to_csv(r'C:\Users\felix\Programmieren\tecdm\data\examples\FZK_DWD-TRY-MiddleYear_DWD.csv', index=False)